<div class="contact-us--container">
    <div class="left">
        <p class="title">Stay up to date by <br> Following us</p>
        <div class="socials">   
            <img src="../../../../assets/icons/bx_bxl-facebook.svg" alt="" srcset="">
            <img src="../../../../assets/icons/bx_bxl-instagram.svg" alt="" srcset="">
            <img class="shoppee" src="../../../../assets/icons/Shopee-logo.png" alt="" srcset="">
            <img src="../../../../assets/icons/bx_bxl-tiktok.svg" alt="" srcset="">
        </div>
        <div class="description">
            <p class="title">Wear Craze-E Apparel</p>
            <p>Empower style, inspire confidence. <br>
                Deliver trendsetting apparel that reflects individuality and enhances self-expression.</p>
        </div>
    </div>
    <div class="right">
        <div class="hero">
            <img src="../../../../assets/images/image 101.png" alt="">
        </div>
        <div class="get-intouch-container">
            <p class="title">Get in touch</p>
            <div class="context">
                <span> <img src="../../../../assets/icons/mail (1).png" alt="" srcset=""></span> <p> wearcrazee.clothing&#64;gmail.com</p>
                <span> <img src="../../../../assets/icons/telephone 1.png" alt="" srcset=""></span><p> 0939 355 0994</p>
            </div>
      
        </div>
    </div>
</div>